@model IEnumerable<DotNetBay.Data.Entity.Auction>

@{
    ViewBag.Title = "Auctions";
}

<h2>Auctions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title) 
        </th>
        <th>
            Status
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentPrice)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Bids.Count)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDateTimeUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDateTimeUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CloseDateTimeUtc)
        </th>
        <th>
            Winner
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {

    var color = "";

    if (item.IsRunning)
    {
        color = "#C0EBB5";
    }
    else if (item.IsClosed)
    {
        color = "#EBB5B5";
    }

    <tr style="background-color: @color">>
        <td>
            <b>@Html.DisplayFor(modelItem => item.Title)</b><br />
            <p style="text-align: center">

                <img src="/Auctions/Image?auctionId=@item.Id" style="max-height: 120px; max-width: 180px" />
            </p>
        </td>
        <td>
            @if (item.IsRunning)
            {
                @:Running
            }
            else if (item.IsClosed)
            {
                @:Closed
            }
            else
            {
                @:Not Started
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bids.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDateTimeUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDateTimeUtc)
        </td>
        <td>
            @if (item.IsClosed)
            {
                @Html.DisplayFor(modelItem => item.CloseDateTimeUtc)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActiveBid.Bidder.DisplayName)
        </td>
        <td>
            @if (!item.IsClosed)
            {
                @Html.ActionLink("Bid", "Create", "Bids", new { AuctionId = item.Id }, null)
                @:|
            } 
            @Html.ActionLink("Details", "Details", new {id = item.Id})
        </td>
    </tr>
}

</table>
